
.icon-to-start:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-stop:before { content: '\e803'; } /* '' */
.icon-to-end:before { content: '\e804'; } /* '' */
.icon-folder-open-empty:before { content: '\e805'; } /* '' */
.icon-folder-open:before { content: '\e806'; } /* '' */
.icon-download-cloud:before { content: '\e807'; } /* '' */
.icon-wikipedia:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-note:before { content: '\e80a'; } /* '' */
.icon-heart:before { content: '\e80b'; } /* '' */
.icon-heart-broken:before { content: '\e80c'; } /* '' */
.icon-volume-up:before { content: '\e80d'; } /* '' */
.icon-volume-off:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-cog-alt:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-to-end-alt:before { content: '\e812'; } /* '' */
.icon-to-start-alt:before { content: '\e813'; } /* '' */
.icon-fast-fw:before { content: '\e814'; } /* '' */
.icon-fast-bw:before { content: '\e815'; } /* '' */
.icon-emo-happy:before { content: '\e816'; } /* '' */
.icon-emo-unhappy:before { content: '\e817'; } /* '' */
.icon-emo-thumbsup:before { content: '\e818'; } /* '' */
.icon-emo-cry:before { content: '\e819'; } /* '' */
.icon-emo-laugh:before { content: '\e81a'; } /* '' */
.icon-emo-angry:before { content: '\e81b'; } /* '' */
.icon-thumbs-up:before { content: '\e81c'; } /* '' */
.icon-thumbs-down:before { content: '\e81d'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e81e'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e81f'; } /* '' */
.icon-thumbs-up-1:before { content: '\e820'; } /* '' */
.icon-thumbs-down-1:before { content: '\e821'; } /* '' */
.icon-down-open-big:before { content: '\e822'; } /* '' */
.icon-down-open:before { content: '\e823'; } /* '' */
.icon-down-open-1:before { content: '\e824'; } /* '' */
.icon-down-open-2:before { content: '\e825'; } /* '' */
.icon-angle-down:before { content: '\e826'; } /* '' */
.icon-angle-double-down:before { content: '\e827'; } /* '' */